{%- from "macros/nav.j2" import nav_link with context -%}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Фрактал by JokerTeam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"></noscript>
  </head>
  <body class="is-preload">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <script src="{{ url_for('static', filename='js/toastify.min.js') }}"></script>
        {% for status, message in messages %}
          <script>
            Toastify({
              text: '{{ message }}',
              duration: 7000,
              close: true,
              stopOnFocus: true,
              gravity: 'bottom',
              {% if status in ['danger', 'warning', 'success', 'info'] %}className: '{{ status }}',{% endif %}
            }).showToast();
          </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="top-menu">
      {% set menu = [{
        'view': 'index',
        'title': 'Главная'
      }, {
        'view': 'demo_form',
        'title': 'Демо-форма'
      }, {
        'view': 'elements',
        'title': 'Стайлгайд'
      }] %}
      {% for link in menu %}
        {{ nav_link(link.view, link.title) }}
      {% endfor %}
      {% if not current_user.is_authenticated %}
        {{ nav_link('security.login', 'Войти') }}
      {% else %}
        {{ nav_link('lk', 'Личный кабинет') }}
        {{ nav_link('security.logout', 'Выйти') }}
      {% endif %}
      {% if 'admin' in current_user.roles %}
        |
        {{ nav_link('admin', 'Админка') }}
        {{ nav_link('admin_users', 'Пользователи') }}
      {% endif %}
    </div>
    {% if is_index %}
      <header id="header">
        <div class="content">
          <h1><a href="#">{{ page_title }}</a></h1>
          {# <p>Небольшое описание страницы</p> #}
          <ul class="actions">
            <li><a href="{{ url_for('index') }}" class="button primary icon solid fa-home">На главную</a></li>
            <li><a href="{{ url_for('demo_form') }}" class="button icon solid fa-calendar scrolly">Отправить форму</a></li>
          </ul>
        </div>
        <div class="image phone"><div class="inner"><img src="{{ url_for('static', filename='images/screen.jpg') }}" alt="" /></div></div>
      </header>
    {% endif %}

    {% block content %}
      <header class="major">
        <h2>{{ g.page_title }}</h2>
      </header>
    {% endblock %}

    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      </ul>
      <p class="copyright">&copy; JokerTeam. Credits: <a href="http://makehtml.ru">MakeHTML</a></p>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
