{% extends "base.j2" %}

{% block content %}
  <section class="wrapper">
    <div class="inner">
      <header class="major">
        <h1>Тестовая страница</h1>
      </header>
      <p>Тестовая страница нашего сайта.</p>
    </div>
  </section>
{% endblock %}
