{% extends "base.html" %} {% block content %}
<section id="one" class="wrapper style2 special">
  <header class="major">
    <h2>Изменение ролей для пользователя {{ user.email }}</h2>
  </header>
  <div class="inner">
    Доступные:<br />
    {% for role in roles %}
    <a
      href="{{ url_for('admin_user_role_add', user_id=user.id, role_id=role.id) }}"
      >{{ role.name }}</a
    ><br />
    {% endfor %}

    <br />У пользователя:<br />
    {% for role in user.roles %} {{ role.name }}<br />
    {% endfor %}
  </div>
</section>
{% endblock %}
