{% extends "base.j2" %}

{% block content %}
  <section id="one" class="wrapper style2 special">
    {{ super() }}
    <ul class="icons major">
      <li><a href="{{ url_for('admin_users') }}" class="icon solid fa-users"><span class="label">Пользователи</span></a></li>
      <li><span class="icon solid fa-sync"><span class="label">Process</span></span></li>
      <li><span class="icon solid fa-cloud"><span class="label">Upload</span></span></li>
    </ul>
  </section>
{% endblock %}
