{% extends "base.j2" %}

{% block content %}
  <section id="four" class="wrapper">
    <h1>Зарегистрированные пользователи</h1>
    <div class="row">
      <div class="col-6 col-12-medium">
        <h4>Ordered</h4>
        <ol>
          {% for user in users%}
              <li>{{ user.id }}: {{ user.name }} ({{ user.email }})</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </section>
{% endblock %}
