{% extends "base.html" %}
{% block content %}
<section id="wrapper" class="wrapper">
  <header>
    <div class="inner">
      <h2>Цены на услуги</h2>
      <p>Перейскурант на медицинские услуги</p>
    </div>
  </header>

<div class="scrollable"><table border="1 px" cellpadding="5">
	<tbody>
		<tr>
			<th>Код</th>
			<th>Наименование медицинской услуги</th>
			<th>Стоимость/руб.</th>
		</tr>
		<tr>
			<td colspan="3"><strong>1. Консультации</strong></td>
		</tr>
		<tr>
			<td>1.1</td>
			<td>Первичная консультация ортопеда- травматолога профессора , д.м.н.</td>
			<td>2300</td>
		</tr>
		<tr>
			<td>1.2</td>
			<td>Консультация детского травматолога-ортопеда, профессора</td>
			<td>2500</td>
		</tr>
		<tr>
			<td>1.3</td>
			<td>Консультация травматолога-ортопеда кандидата медицинских наук</td>
			<td>2000</td>
		</tr>
		<tr>
			<td>1.4</td>
			<td>Консультация нейрохирурга профессора</td>
			<td>3000</td>
		</tr>
		<tr>
			<td>1.5</td>
			<td>Консультация профессора или д.м.н. на выезде</td>
			<td>5000</td>
		</tr>
		<tr>
			<td>1.6</td>
			<td>Консультация травматолога-ортопеда на выезде</td>
			<td>5000</td>
		</tr>
		<tr>
			<td colspan="3">1.2 Повторные консультации</td>
		</tr>
		<tr>
			<td>1.2.1</td>
			<td>Повторная консультация травматолога-ортопеда профессора, д.м.н.</td>
			<td>1150</td>
		</tr>
		<tr>
			<td>1.2.2</td>
			<td>Повторная консультация травматолога-ортопеда кандидата медицинских наук</td>
			<td>
			<p>1000</p>
			</td>
		</tr>


		<tr>
			<td colspan="3"><strong>3. Перевязки</strong></td>
		</tr>
		<tr>
			<td>3.3</td>
			<td>Обкалывание мягких тканей вокруг спиц аппарата Илизарова лекарственными препаратами</td>
			<td>500</td>
		</tr>
		<tr>
			<td>3.4</td>
			<td>Снятие швов</td>
			<td>500</td>
		</tr>
		<tr>
			<td>3.5</td>
			<td>Смена бинтовой повязки (малая)</td>
			<td>450</td>
		</tr>
		<tr>
			<td>3.6</td>
			<td>Перевязка большая</td>
			<td>1500</td>
		</tr>
		<tr>
			<td>3.7</td>
			<td>Наложение повязки на трофические язвы</td>
			<td>500</td>
		</tr>
		<tr>
			<td>3.8</td>
			<td>Наложение цинк-желатиновой повязки (повязка Унна-Кефера)</td>
			<td>5100</td>
		</tr>
		<tr>
			<td colspan="3"><strong>4. Наложение гипсовых повязок и повязок из синтетических отвердевающих материалов (без стоимости материала)</strong></td>
		</tr>
		<tr>
			<td>4.1</td>
			<td>Лонгета: палец-кисть-предплечье (лучезапястный сустав)</td>
			<td>500</td>
		</tr>
		<tr>
			<td>4.2</td>
			<td>Лонгета: кисть-предплечье (лучезапястный сустав)</td>
			<td>500</td>
		</tr>
		<tr>
			<td>4.3</td>
			<td>Лонгета: кисть-плечо (локтевой сустав)</td>
			<td>700</td>
		</tr>
		<tr>
			<td>4.4</td>
			<td>Лонгета: стопа-голень до с/3 голени</td>
			<td>700</td>
		</tr>
		<tr>
			<td>4.5</td>
			<td>Лонгета: стопа-голень до коленного сустава</td>
			<td>700</td>
		</tr>
		<tr>
			<td>4.6</td>
			<td>Лонгета: до в/3 бедра</td>
			<td>700</td>
		</tr>
		<tr>
			<td>4.7</td>
			<td>Лонгета: на коленный сустав без стопы</td>
			<td>700</td>
		</tr>
		<tr>
			<td>4.8</td>
			<td>Циркулярная повязка: кисть-предплечье (лучезапястный сустав)</td>
			<td>700</td>
		</tr>
		<tr>
			<td>4.9</td>
			<td>Циркулярная повязка: кисть-плечо (локтевой сустав)</td>
			<td>700</td>
		</tr>
		<tr>
			<td>4.10</td>
			<td>Циркулярная повязка: "сапожок" до коленного сустава</td>
			<td>800</td>
		</tr>
		<tr>
			<td>4.11</td>
			<td>Циркулярная повязка: "сапожок" с захватом коленного сустава</td>
			<td>900</td>
		</tr>
		<tr>
			<td>4.12</td>
			<td>Циркулярная повязка: "тутор" без стопы</td>
			<td>800</td>
		</tr>
		<tr>
			<td>4.13</td>
			<td>Повязка из синтетического отвердевающего материала (целокаст). Без стоимости материала.</td>
			<td>2500</td>
		</tr>
		<tr>
			<td colspan="3"><strong>4.1 Снятие гипсовых повязок и повязок из синтетических отвердевающих материалов типа "Целокаст"</strong></td>
		</tr>
		<tr>
			<td>4.1.1</td>
			<td>- малой</td>
			<td>400</td>
		</tr>
		<tr>
			<td>4.1.2</td>
			<td>- средней</td>
			<td>500</td>
		</tr>
		<tr>
			<td>4.1.3</td>
			<td>- большой</td>
			<td>600</td>
		</tr>


		<tr>
			<td colspan="3"><a name="massage"></a><strong>7. Массаж</strong></td>
		</tr>
		<tr>
			<td>7.1</td>
			<td>Массаж головы (лобно-височной и затылочно-теменной области), 1 ед.</td>
			<td>600</td>
		</tr>
		<tr>
			<td>7.2</td>
			<td>Массаж спины (от шейного до пояснично-крестцового отдела), 20 мин.</td>
			<td>1500</td>
		</tr>
		<tr>
			<td>7.3</td>
			<td>Массаж спины (от шейного до пояснично-крестцового отдела), 30 мин.</td>
			<td>1800</td>
		</tr>
		<tr>
			<td>7.4</td>
			<td>Массаж всей верхней конечности, надплечья и области лопатки, 2 ед.</td>
			<td>800</td>
		</tr>
		<tr>
			<td>7.5</td>
			<td>Массаж области лучезапястного сустава, кисти</td>
			<td>500</td>
		</tr>
		<tr>
			<td>7.6</td>
			<td>Массаж нижней конечности (стопа, голень, бедро, тазобедренный сустав), 1.5 ед.</td>
			<td>800</td>
		</tr>
		<tr>
			<td>7.7</td>
			<td>Массаж нижней конечности и поясницы (стопа, голень, бедро, тазобедренный сустав, ягодичная и пояснично-крестцовая область), 2 ед.</td>
			<td>1000</td>
		</tr>
		<tr>
			<td>7.8</td>
			<td>Массаж обеих ног и поясницы (бедро, тазобедренный сустав, ягодичная область с обеих сторон, пояснично-крестцовая область), 2 ед.</td>
			<td>1800</td>
		</tr>
		<tr>
			<td>7.9</td>
			<td>Массаж коленного сустава (верхняя треть голени, коленный сустав, бедро) 1,5-2 ед.</td>
			<td>800</td>
		</tr>
		<tr>
			<td>7.10</td>
			<td>Массаж стопы с голеностопным суставом, 1 ед.</td>
			<td>600</td>
		</tr>
		<tr>
			<td>7.11</td>
			<td>Массаж обеих стоп при лечении плоскостопия</td>
			<td>1200</td>
		</tr>
		<tr>
			<td>7.12</td>
			<td>Массаж области грудной клетки (передняя поверхность грудной клетки от надплечий до реберных дуг и область спины от 7 шейного до 1 поясничного позвонка, боковые поверхности грудной клетки), 3 ед.</td>
			<td>1800</td>
		</tr>
		<tr>
			<td>7.13</td>
			<td>Общий массаж (передняя поверхность грудной клетки, спина от шейного до пояснично-крестцового отдела позвоночника, верхние и нижние конечности)</td>
			<td>2800</td>
		</tr>

		<tr>
			<td>7.15</td>
			<td>Лимфодренажный массаж 5 ед.&nbsp;–&nbsp;50 мин.</td>
			<td>2500</td>
		</tr>
		<tr>
			<td>7.16</td>
			<td>Массаж лица и шеи (область декольте, платизма, лицо), 2 ед.</td>
			<td>800</td>
		</tr>
		<tr>
			<td>7.17</td>
			<td>Антицеллюлитный массаж 5-6 ед.</td>
			<td>3000</td>
		</tr>
		<tr>
			<td>7.18</td>
			<td>Медовый массаж различных зон, 2 ед.</td>
			<td>1300</td>
		</tr>
		<tr>
			<td>7.19</td>
			<td>Редрессация сустава с массажем всей конечности 2 ед.</td>
			<td>2000</td>
		</tr>

</table></div>

</section>
{% endblock %}
